@charset "UTF-8";
@font-face{
    font-family:'jcmiconfont';
    src:url('jcgoafont.eot');
    src:url('jcgoafont.eot?#iefix') format('embedded-opentype'),
    url('jcgoafont.woff') format('woff'),
    url('jcgoafont.ttf') format('truetype'),
    url('jcgoafont.svg') format('svg');
    font-weight:normal;
    font-style:normal
}

[class^="jcm-"], [class*=" jcm-"] {
  font-family: 'jcmiconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jcm-tianjia2:before { content: "\e600"; }
.jcm-richeng:before { content: "\e601"; }
.jcm-rili3:before { content: "\e602"; }
.jcm-fujian8:before { content: "\e603"; }
.jcm-lajitong1:before { content: "\e604"; }
.jcm-zengjia:before { content: "\e605"; }
.jcm-zuzhi5:before { content: "\e606"; }
.jcm-fangdajing1:before { content: "\e607"; }
.jcm-tongxun3:before { content: "\e608"; }
.jcm-wode1:before { content: "\e609"; }
.jcm-xiaoxi2:before { content: "\e60a"; }
.jcm-xinwen:before { content: "\e60b"; }
.jcm-play6:before { content: "\e60c"; }
.jcm-pause4:before { content: "\e60d"; }
.jcm-xiajiantou21:before { content: "\e60e"; }
.jcm-jiantou3:before { content: "\e60f"; }
.jcm-xiajiantou2:before { content: "\e610"; }
.jcm-shanchu1:before { content: "\e611"; }
.jcm-fangdajing:before { content: "\e612"; }
.jcm-jiahao1:before { content: "\e613"; }
.jcm-fanhui:before { content: "\e614"; }
.jcm-youjiantou3:before { content: "\e615"; }
.jcm-zan:before { content: "\e616"; }
.jcm-xing4:before { content: "\e617"; }
.jcm-add6:before { content: "\e618"; }
.jcm-trash6:before { content: "\e619"; }
.jcm-loading:before { content: "\e61a"; }
.jcm-arrows:before { content: "\e61b"; }
.jcm-tanhao:before { content: "\e61c"; }
.jcm-fujian:before { content: "\e61d"; }
.jcm-delete:before { content: "\e61e"; }
.jcm-biaodan1:before { content: "\e61f"; }
.jcm-shanchu:before { content: "\e620"; }
.jcm-rile:before { content: "\e621"; }
.jcm-biaoxing:before { content: "\e622"; }
.jcm-jiahao:before { content: "\e623"; }
.jcm-shangchuanfujian:before { content: "\e624"; }
.jcm-xiajiantou:before { content: "\e625"; }
.jcm-xiajiantou_1:before { content: "\e626"; }
.jcm-xieyoujian:before { content: "\e627"; }
.jcm-xingbiao:before { content: "\e628"; }
.jcm-duihao2:before { content: "\e629"; }
.jcm-user7:before { content: "\e62a"; }
.jcm-psd:before { content: "\e62b"; }
.jcm-guanbi:before { content: "\e62c"; }
.jcm-youjiantou1:before { content: "\e62d"; }
.jcm-jiantou:before { content: "\e62e"; }
.jcm-jiantou:before { content: "\e62f"; }
.jcm-place:before { content: "\e630"; }
.jcm-calendar:before { content: "\e631"; }
.jcm-xialakuang:before { content: "\e632"; }
.jcm-smiley:before { content: "\e633"; }
.jcm-smiley2:before { content: "\e634"; }
.jcm-sad2:before { content: "\e635"; }
.jcm-sad:before { content: "\e636"; }
.jcm-wink:before { content: "\e637"; }
.jcm-confused2:before { content: "\e638"; }
.jcm-confused:before { content: "\e639"; }
.jcm-video-camera:before { content: "\e63a"; }
.jcm-pencil2:before { content: "\e63b"; }
.jcm-check:before { content: "\e63c"; }
.jcm-times:before { content: "\e63d"; }
.jcm-stackoverflow:before { content: "\e63e"; }
.jcm-list-alt:before { content: "\e63f"; }
.jcm-copy:before { content: "\e640"; }
.jcm-off:before { content: "\e641"; }
.jcm-cut:before { content: "\e642"; }
.jcm-paste2:before { content: "\e643"; }
.jcm-books2:before { content: "\e644"; }
.jcm-file-zip:before { content: "\e645"; }
.jcm-file-excel:before { content: "\e646"; }
.jcm-file-word:before { content: "\e647"; }
.jcm-file-pdf:before { content: "\e648"; }
.jcm-plus2:before { content: "\e649"; }
.jcm-star:before { content: "\e64a"; }
.jcm-wujiaoxin:before { content: "\e64b"; }
.jcm-SPD_Bank:before { content: "\e64c"; }
.jcm-dayu:before { content: "\e64d"; }